{% extends 'base.html.twig' %}

{% form_theme form 'form/_form_errors.html.twig' %}

{% block title %}{{ 'title.reset_password'|trans }}{% endblock %}

{% block body %}

{% include "include/flashes.html.twig" %}

<section class="container my-3">
    <div class="row">
        <div class="col">
            <h1>{{ 'title.choose_paswword'|trans }}</h1>
            {{ form_start(passForm) }}
                {{ form_row(passForm.password) }}
                <button type="submit" class="d-block my-4 mx-auto btn btn-outline-light col-8">{{ 'button.confirm'|trans }}</button>
            {{ form_end(passForm) }}
        </div>
    </div>
</section>

{% endblock %}