{% extends 'base.html.twig' %}

{% form_theme requestPassForm 'form/_form_errors.html.twig' %}

{% block title %}
{{ 'title.reset_password'|trans }}
{% endblock %}

{% block body %}

	{% include "include/flashes.html.twig" %}

	<section class="container my-3">
		<div class="row">
			<div class="col">
				<h1>{{ 'title.reset_password'|trans }}</h1>
				{{ form_start(requestPassForm) }}
				{{ form_row(requestPassForm.email) }}
				{{ form_end(requestPassForm) }}
			</div>
		</div>
	</section>

{% endblock %}
