{% extends "base.html.twig" %}

{% form_theme form 'form/_form_errors.html.twig' %}

{% block title %}
	{{ 'title.edit_profile'|trans }}
{% endblock %}

{% block body %}
	<style>
		.edit-profile-box {
			width: 100%;
			max-width: 500px;
			margin: 0 auto;
			padding: 40px;
			background: rgba(0, 0, 0, 0.5);
			box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
			border-radius: 10px;
		}

		@media(min-width: 768px) {
			.edit-profile-box {
				max-width: 60%;
			}
		}

		.edit-profile-box h1 {
			margin: 0 0 30px;
			padding: 0;
			color: #fff;
			text-align: center;
		}

		.edit-profile-box p {
			color: #fff;
			text-align: center;
			margin-bottom: 30px;
		}

		.edit-profile-box .user-box {
			position: relative;
		}

		.edit-profile-box .user-box input {
			width: 100%;
			padding: 2px 0;
			font-size: 16px;
			color: #fff;
			margin-bottom: 30px;
			border: none;
			border-bottom: 1px solid #fff;
			outline: none;
			background: transparent;
		}

		.edit-profile-box .user-box label {
			position: relative;
			top: 0;
			left: 0;
			padding: 10px 0;
			font-size: 16px;
			color: #03e9f4;
			pointer-events: none;
			transition: 0.5s;
		}

		.edit-profile-box .user-box input:focus ~ label,
		.edit-profile-box .user-box input:valid ~ label {
			top: -20px;
			left: 0;
			color: #03e9f4;
			font-size: 12px;
		}
	</style>

	<div class="row">
		<div class="col-6 mx-auto">
			{% include 'include/flashes.html.twig' %}
		</div>
	</div>

	<div class="edit-profile-box">
		<h1 class="h3 mb-3 font-weight-normal">{{ 'title.edit_email'|trans }}</h1>
		<p>{{ 'p.current_email'|trans }}
			:
			{{ app.user.email }}</p>

		<div class="user-box">
			{{ form(form) }}
			</div>
		</div>

	{% endblock %}
