<style>
footer {
    width: 100%;
    text-align: center;
    background-color: transparent;
    color: black;
    font-family: "Open Sans", sans-serif;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: auto; /* Assure que le footer reste collé en bas */
}

footer li a {
    color: black;
}

footer li a:hover {
    color: #F26766;
}

</style>
<footer class="footer m-0 p-0 pt-4">
	<ul class="nav justify-content-center mb-3">
		<li class="nav-item">
			<a href="{{ path('show_home') }}" class="px-2">{{ 'footer.accueil'|trans }}</a>
		</li>
		<li class="nav-item">
			<a href="{{ path('mentions_legales') }}" class="px-2">{{ 'footer.mentions_legales'|trans }}</a>
		</li>
		<li class="nav-item">
			<a href="{{ path('a_propos') }}" class="px-2">{{ 'footer.about_us'|trans }}</a>
		</li>
		<li class="nav-item">
			<a href="{{ path('cookie') }}" class="px-2">{{ 'footer.cookies'|trans }}</a>
		</li>
		{% if not is_granted('ROLE_USER') %}
			<li class="nav-item">
				<a href="{{ path('app_login') }}" class="px-2">{{ 'footer.se_connecter'|trans }}</a>
			</li>
		{% else %}
			<li class="nav-item">
				<a href="{{ path('app_logout') }}" class="px-2">{{ 'footer.se_deconnecter'|trans }}</a>
			</li>
		{% endif %}
	</ul>


	<p style="font-size: 0.5rem;">©
		{{ "now"|date('Y') }}
		Copyright : AMYAZ</p>
</footer>
