{% extends 'base.html.twig' %}

{% block title %}
	{{ 'documentation.title'|trans }}
{% endblock %}

{% block body %}
	<style>
		.favorite-icon {
			position: absolute;
			cursor: pointer;
		}

		.favorite-icon i {
			font-size: 24px;
			color: rgba(0, 0, 0, 0.3);
		}

		.favorite-icon i:hover {
			color: #ffc107;
		}

	.search-form {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		
			.search-form > *:not(#autocomplete-input) {
			box-shadow: -3px 8px 5px -6px rgba(0, 0, 0, 0.5);
			justify-content: center;
		}

		.search-form input:focus {
			outline: none;
			box-shadow: none;
		}

		.search-form > div {
			position: relative;
			display: flex;
			border-radius: 20px;
			width: 100%;
			max-width: 700px;
		}

	.search-form select {
			padding: 12.5px 28px 12.5px 12.5px;
			font-size: 16px;
			border: none;
			background-color: rgba(255, 255, 255, 0.8);
			border-radius: 20px 0 0 20px;
			flex: 1;
			max-width: 100px;
			appearance: none; /* Supprime l'apparence par défaut du select */
			background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iNiIgdmlld0JveD0iMCAwIDEwIDYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTSAwLjQ1NzAzOTM5LDEuMzk2MDMgTCAxLjI5MzY4MywwLjU1MDI4NTcgTCA1LDAuNTUwMjg1NyBMIDguNzA2MzIsMC41NTAyODU3IEwgOS41NDI5NiwwLjU1MDI4NTcgTCA1LDQuNTc4OTcgWiIgZmlsbD0iIzAwMCIvPjwvc3ZnPg==');
			background-repeat: no-repeat;
			background-position: right 10px center;
			color: #000; /* Couleur du texte noir */
		}

		.search-form select::-ms-expand {
			display: none; /* Masquer la flèche native dans IE */
		}

		.search-form input[type="text"] {
			padding: 10px;
			font-size: 16px;
			border-radius: 0;
			border: 2px rgba(255, 255, 255, 0.8) !important;
			background-color: rgba(255, 255, 255, 0.8) !important;
			background-color: rgba(255, 255, 255, 0.8) ;
			flex: 2;
			min-width: 0;
		}

		.search-form .search-button {
			padding: 10px 20px;
			font-size: 16px;
			background-color: rgba(0, 0, 0, 0.7);
			color: white;
			border: none;
			cursor: pointer;
			transition: background-color 0.3s ease;
			border-radius: 0 20px 20px 0;
		}

		.search-form button:hover {
			background-color: #A0BBD4;
		}

		/* Responsive Styles */
		@media(max-width: 768px) {
			.search-form,
			.search-form > div {
				max-width: 100%;
			}

			.search-form select,
			.search-form input[type="text"],
			.search-form button {
				font-size: 14px;
			}

			.search-form select {
				min-width: 60px;
			}

			.search-form input[type="text"] {
				flex: 1;
				padding: 8px;
			}

			.search-form .search-button {
				padding: 8px 16px;
			}
		}

		@media(max-width: 480px) {
			.search-form select,
			.search-form input[type="text"],
			.search-form button {
				font-size: 12px;
			}

			.search-form select {
				min-width: 60px; /* Réduction encore plus importante sur les écrans < 480px */
				max-width: 100px;
			}

			/* Enlever le bleu du select sur les téléphones */
			.search-form select {
				color: black !important;
				background-color: rgba(255, 255, 255, 0.8) !important;
			}
		}

		.btn-container {
			display: flex;
			justify-content: center;
			margin-bottom: 20px;
		}

		.card {
			position: relative; /* This is important for absolute positioning within the card */
			background-color: transparent;
			border-radius: 20px;
			box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
		}

		.card .edit-icon {
			position: absolute;
			top: 10px;
			right: 10px;
			color: black;
		}
	</style>

	<div class="col-11 mx-auto">
		{% include 'include/flashes.html.twig' %}
	</div>

	<div class="rounded-3">
		<div class="container-fluid">
			<h1 class="display-5 fw-bold text-center">{{ 'documentation.title'|trans }}</h1>
			<p class="text-center">{{ 'documentation.resume'|trans|raw }}</p>
		</div>
	</div>

	<div class="container">
		<div class="btn-container">
			{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MODERATOR') %}
				<a href="{{ path('documentation_new') }}" class="btn btn-dark mb-2">{{ 'title.create_doc'|trans }}</a>
			{% endif %}
		</div>

		<form id="searchForm" method="GET" action="{{ path('documentation_index') }}" class="search-form">
    <div>
        <select name="category" onchange="this.form.submit()">
            <option value="" {% if selectedCategory is empty %} selected {% endif %}>{{ 'form.choisir_categorie'|trans }}</option>
            {% for category in categories %}
                <option value="{{ category.id }}" {% if category.id == selectedCategory %} selected {% endif %}>{{ category.name }}</option>
            {% endfor %}
        </select>
        <input type="text" name="q" id="search-input" placeholder="{{ 'form.rechercher'|trans }}" value="{{ searchTerm }}" aria-label="Search">
        <button type="submit" class="search-button">
            <i class="bi bi-search"></i>
        </button>
    </div>
</form>

	</div>

	<div class="container">
		<div class="row">
			{% for documentation in pagination %}
				<div class="col-md-6 mb-4 mt-4">
					<div class="card h-100 p-5 text-dark">
						{% set isFavorite = false %}
						{% for favorite in favorites %}
							{% if favorite.getDocumentation() is not null and favorite.getDocumentation().id == documentation.id %}
								{% set isFavorite = true %}
							{% endif %}
						{% endfor %}
						<span class="favorite-icon" data-id="{{ documentation.id }}" style="{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MODERATOR') %}top: 2.5rem;{% else %}top: 0.5rem;{% endif %} right: 1rem;">
							<i class="bi bi-star-fill {% if isFavorite %}text-warning{% endif %}"></i>
						</span>
						{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MODERATOR') %}
							<a href="{{ path('documentation_edit', {'id': documentation.id}) }}" class="edit-icon">
								<i class="bi bi-pencil"></i>
							</a>
						{% endif %}
						<div class="d-flex justify-content-between align-items-center">
							<h2 class="mb-0">
								{% if app.request.locale == 'fr' %}
									{{ documentation.titleFr }}
								{% else %}
									{{ documentation.titleEn }}
								{% endif %}
							</h2>
						</div>
						<p>
							{% if app.request.locale == 'fr' %}
								{{ documentation.contentFr }}
							{% else %}
								{{ documentation.contentEn }}
							{% endif %}
						</p>
						<p>{{ documentation.category }}</p>
						<a style="color: #333;" href="{{ asset('uploads/' ~ documentation.file) }}" download="{{ documentation.file }}">{{ 'button.pdf'|trans }}</a>
					</div>
				</div>
			{% else %}
				<div class="col-12 text-center">
					<p class="mt-3">{{ 'p.no_result'|trans }}</p>
				</div>
			{% endfor %}

		</div>
	</div>

	<div id="pagination-container" class="pagination justify-content-center mt-4">
		{{ knp_pagination_render(pagination) }}
	</div>

	<script>
		document.addEventListener('DOMContentLoaded', function () {
document.querySelectorAll('.favorite-icon').forEach(function (star) {
star.addEventListener('click', function () {
const documentationId = this.getAttribute('data-id');
const isFavorite = this.querySelector('i').classList.contains('text-warning');
const url = isFavorite ? '{{ path('favorite_remove_doc') }}' : '{{ path('favorite_add_doc') }}';

fetch(url, {
method: 'POST',
headers: {
'Content-Type': 'application/json',
'X-Requested-With': 'XMLHttpRequest',
'X-CSRF-TOKEN': '{{ csrf_token('favorite_toggle') }}'
},
body: JSON.stringify(
{documentation_id: documentationId}
)
}).then(response => response.json()).then(data => {
if (data.status === 'success') {
if (isFavorite) {
this.querySelector('i').classList.remove('text-warning'); // Remove yellow color
} else {
this.querySelector('i').classList.add('text-warning'); // Add yellow color
}
location.reload(); // Reload the page to show flash messages
} else {
alert('Erreur: ' + data.message);
}
});
});
});
});
	</script>
{% endblock %}
